.main-post-card{
    align-items: flex-start;
    justify-content: start;
    width: 75%;
    border: 2px solid var(--grey);
    border-radius: 5px;
}

.user-avatar-img{
    width: 2.5rem;
    aspect-ratio: 1/1;
}

 .main-post-img {
    margin: 0 auto;
    width: 80%;
    object-fit: contain;
}

 .comment-section{
    width: 100%;
    padding-left: .5rem;
    padding-bottom: .5rem;
 }

.show-options-main{
    position: relative;
}

.show-options-box{
    width: 200px;
    min-height: 5rem;
    /* min-width: 100%; */
    position: absolute;
    top: 25px;
    right: 0px;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: stretch;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: var(--accent); */
    border: 2px solid var(--accent);
    border-radius: 5px;
}


/* new post card */
.new-post-area-main{
    flex-grow: 1;
    font: inherit;
    color: var(--accent);
}
