.main-post-card{
    /* margin: 0 auto; */
    align-items: flex-start;
    justify-content: start;
    width: 75%;
    border: 2px solid var(--grey);
    border-radius: 5px;
}


.user-avatar-img{
    width: 2.5rem
}

 .main-post-img {
    margin: 0 auto;
    /* min-width: 30%;
    max-width: 100%; */
    width: 80%;
    /* max-height: 20%; */
    object-fit: contain;
}
/*
.post-content{
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-user-header{
    min-width: 100%;
}
.text-likes, .text-comments{
    text-align: left !important;
    width: 100%;
    padding: 0 10px 10px 10px ;
    font-weight: 600;
    font-size: smaller;
}
.text-comments{
    font-weight: 300;
    color: var(--grey);
}
 */

 .comment-section{
    /* background-color: red; */
    width: 100%;
    padding-left: .5rem;
    padding-bottom: .5rem;
 }


 @media only screen and (min-width: 600px) {
    .main-post-card {
      /* max-width: 50vw; */
      /* background-color: red; */
    }
  }