.main-post-card{
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    width: 75%;
    border: 2px solid var(--grey);
    border-radius: 5px;
}


.user-avatar-img{
    width: 3rem
}

/* .main-post-card img {
    min-width: 100%;
    object-fit: cover;
}
.post-content{
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-user-header{
    min-width: 100%;
}
.text-likes, .text-comments{
    text-align: left !important;
    width: 100%;
    padding: 0 10px 10px 10px ;
    font-weight: 600;
    font-size: smaller;
}
.text-comments{
    font-weight: 300;
    color: var(--grey);
}
 */
