/* for all components */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --grey: grey;
    --accent: rgb(26, 192, 82);
    --black: rgb(17, 29, 39);
    --white:rgb(242, 237, 255);
}

body{
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
    overflow-x: hidden;
}
.dark{
    color: var(--white);
    background-color: var(--black);

}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    
}
::-webkit-scrollbar:hover{
    cursor: pointer;
}
/* selection */
::selection{
    background-color: var(--accent);
    color: var(--white);
}

.navLink{
    text-decoration: none;
    color: var(--shadowLightBlue);
}

.accent{
    color: var(--accent);
}
.hover-accent{
    transition: all 0.3s ease;
}
.hover-accent:hover{
    color: var(--accent);
    
}
.bg-accent{
    background-color: var(--accent);
}
.grey{
    color: var(--grey);
}
.white{
    color: var(--white);
}
.black{
    color: var(--black);
}
.bg-white{
    background-color: var(--white);
}
/* fonts */
.f-bold{
    font-weight: 600;
}
.f-normal{
    font-weight: normal;
}
.f-smaller{
    font-size: smaller;
}

/* texts */
.text-justify{
    text-align: justify;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-deco-none{
    text-decoration: none;
    color: inherit;
}
/* utils */
/* displays and layouts */
.display-none{
    display: none !important;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-left{
    align-items: start;
}
.aic{
    align-items: center;
}
.flex-grow{
    flex-grow: 1;
}
.sp-bw{
    justify-content: space-between;
}
.gap-16{
    gap: 1rem;
}
.gap-8{
    gap: .5rem;
}
.gap-4{
    gap: .25rem;
}
.gap-2{
    gap: 2px;
}
.m-auto{
    margin: 0 auto;
}
/* textarea */
textarea{
    border: none;
    outline: none;
    resize: none;
}
/* inputs */
input[type="text"] ,input[type="password"]{
    transition: all 0.2s ease-in;
    outline: none;
    border: 2px solid var(--grey);
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}
input[type="text"]:is(:hover,:focus),input[type="password"]:is(:hover,:focus) {
    border: 2px solid var(--accent);
    /* background-color: var(--accent); */
    color: var(--accent);
}
input::placeholder{
    color: var(--grey);
}

.p-rel{
    position: relative;
}

.z-100{
    z-index: 100;
}

/* margins and padding */
.m-top{
    margin-top: 65px;
    padding: 1rem;
}
.m-bot{
    margin-bottom: 45px !important;
}
.m-right-5{
    margin-right: .5rem;
}
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-6-10{
    padding: 6px 10px;
}
.p-l-r-10{
    padding: 0 10px;
}
.p-bot-0{
    padding-bottom: 0;
}
.p-bot-10{
    padding-bottom: 10px;
}
.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}
.w-70{
    width: 70%;
}
.w-30{
    width: 30%;
}
.h-100{
    min-height: 100%;
}
.min-h-100{
    min-width: 100vh
}
.p-0-0-10-10{
    padding: 0 0 10px 10px;
}
.text-gap-5{
    letter-spacing: 5px;
}
/* mouses */
.m-pointer{
    cursor: pointer;
    transition: all 0.4s ease   ;
}

/* fa icon */
.fa-icon{
    /* color: var(--accent); */
    cursor: pointer;
    transition: all 0.2s ease;
    transform: scale(1.1);
}
.fa-icon:hover{
    transform: scale(1.3);
    transform-origin: center;
}


/* modal */
.modal-100{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

/* borders */
.border-bottom{
    border-bottom: 2px solid var(--grey);
}
.border-top{
    border-top: 2px solid var(--grey);
}
.no-border{
    border: none;
}
.bor-rad-5{
    border-radius: .5rem;
}
.bor-rad-50{
    border-radius: 50%;
}
/* buttons */
.btn {
    background-color: var(--accent);
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    
}
.btn:hover{
    outline: 1px solid var(--accent);
    outline-offset: 2px;
}

/* nav links */
.nav-link{
    text-decoration: none;


}
.selected{
    /* border-bottom: 2px solid var(--accent); */
    color: var(--accent);
}



/* test */
.bgcol{
    background-color: red;
}


@media  (max-width: 800px) {
    .hide-on-mobile {
      display: none !important;
    }
}



/* for custom modals */
.overlay-dark{
    background-color: rgba(43, 43, 43, 0.409);
}
.center-box{
    border: 2px solid var(--accent);
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}