.main-user-profile{
    min-height: 100vh;
    align-items: center;
    width: 100vw;
    /* justify-content: center; */
}


.main-post-page{
    min-height: 90vh;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    justify-content: center;
}

.main-feed{
    margin: 0 auto;
}
.bookmarks-main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    
}

/* login page */
.login-main{
    /* background-color: red; */
    height: calc(100vh - 65px);
}
.login-img{
    border-radius: 50%;
}
.login-box{
    margin: auto;
    min-width: 35%;
    padding: 1rem;
    border-radius: 10px;
    min-height: 80%;
    border: 2px solid var(--accent);
}


@media  (min-width: 600px) {
    .main-feed {
      max-width: 50vw;
    }
    .bookmarks-main{
        max-width: 50vw;
    }
    .main-post-page{
        max-width: 50vw;

    }
  }