/* Header */
.img-profile{
    width: 5rem ;
    object-fit: contain;
}
.main-header{
    width: 100%;
    padding: 0 1rem ;
    position: fixed;
    top: 0;
    height: 65px;
    border-bottom: 2px solid var(--grey);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-avatar-img{
    margin: auto 0;
    width: 35px;

}

.m-top-auto{
    /* margin: auto 0; */
}


/* SearchBar */
.search-main{
    /* border: 2px solid red; */
    max-width: 300px;
    /* margin: 10px; */
}
.search-main input{
    width: 100%;
}
.search-suggestions{
    min-height: 5rem;
    position: absolute;
    top: 50px;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--accent);
    border-radius: 5px;

}
.search-suggestions-overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}

/* loader */
.main-loader{
    border: 2px solid red;
    /* display: fixed; */
    height: 100vh;
    width: 100vw;
    display: flex;
    /* flex-direction: ; */
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
}



/* bottom nav */
.bottom-nav-main{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 45px;
    border-bottom: 2px solid var(--grey);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: var(--accent);
    /* background-color: rgba(236, 236, 236, 0.22); */
}

/* footer */
.main-footer{
    /* background-color: red; */
    padding: 1rem;
    border-top: 2px solid var(--grey);
}

.liked-icon-main{
    /* margin: 10px 0  !important; */
    align-self: center;
}


@media  (min-width: 800px) {
    .bottom-nav-main {
      display: none !important;
    }
    .liked-icon-main{
        display: none !important;
    }
}